

<div class="course-container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <ul>
        <li routerLink="/admin/admin_dashboard" routerLinkActive="active">Home</li>
        <li routerLink="/admin/student-verify" routerLinkActive="active">Verify Students</li>
        
        <li routerLink="/admin/batch" routerLinkActive="active">Batches</li>
        <li class="accordion">
          <div class="accordion-header" (click)="toggleCourses()">
            Courses
          </div>
          <ul *ngIf="coursesOpen" class="accordion-content">
            <li routerLink="/admin/course/add-course" routerLinkActive="active">New Course</li>
            <li routerLink="/admin/course/course-level" routerLinkActive="active">Course Level</li>
            <li routerLink="/admin/course/subject" routerLinkActive="active">Subject</li>
            <li routerLink="/admin/course/course-fee" routerLinkActive="active">Course Fee</li>
            <li routerLink="/admin/course/course-schedule" routerLinkActive="active">Course Schedule</li>
          </ul>
        </li>
        <li routerLink="/admin/assessment" routerLinkActive="active">Assessments</li>
        <li routerLink="/admin/material" routerLinkActive="active">Materials</li>
        <li routerLink="/admin/notification" routerLinkActive="active">Notifications</li>
        <li routerLink="/admin/report" routerLinkActive="active">Reports</li>
        <li routerLink="/" routerLinkActive="active">Log Out</li>
      </ul>
    </aside>
  
    <!-- Main Content -->
    <div class="main-content">
      <header class="navbar">
        <div class="leftside">
          <div class="user-icon">
            <span class="material-icons">account_circle</span>
          </div>
          <div class="welcome-text">Hello ADMIN!</div>
        </div>
        <h1>Admin_DashBoard</h1>
      </header>
  
      <section class="content">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
  